.venv
node_modules
.next
.terraform
*.tfstate
*.tfstate.*
*.tfplan
var
.git
.pytest_cache
.ruff_cache
*.mp4
.credentials
*-sa.json
.env
google-cloud-sdk
apps/console/node_modules
apps/demo/node_modules
